<%- include("./partials/cabecalho.ejs") %>
<h1 id="title-wait"></h1>
<img class="bg-light" id="result">
<section class="container">
    <!-- <div id="mensagem-informacional" class="mensagem d-flex justify-content-center m-2 flex-column align-items-start"></div> -->
    <!-- <div class="card text-start bg-dark text-white">
        <div class="card-header">
            <h4>558596541425@c.us</h4>
        </div>
        <div class="card-body">
            <a class="btn btn-primary" href="/responder/558596541425">Responder</a>
        </div>
    </div> -->
    <ul id="user-list"></ul>
</section>
<%- include("./partials/rodape.ejs") %>


